body {
  font-family: Arial, sans-serif;
  background: rgb(222, 244, 134);
  color: #bb1c1c;
}

/* header */
header {
  background: rgb(18, 96, 122);
  color: white;
  padding: 1.2rem 1rem;
  text-align: center;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

header p {
  font-size: 0.9rem;
  opacity: 0.85;
}

/* main */
main {
  padding: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

/* seccion selector */
.seccion {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

select {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}


